.film-details-info__container {
  max-width: 1200px;
  margin: 0 auto 40px;
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.film-details-info__title {
  margin-bottom: 40px;
}

.film-details-info__rating-length-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
  margin-bottom: 40px;
}

.film-details-info__length {
  font-weight: 700;
}

.film-details-info__genres {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.film-details-info__item {
  margin-bottom: 40px;
}

.film-details-info__descr {
  margin-top: 10px;
}

.film-details-info__poster {
  background-image: url('https://image.tmdb.org/t/p/original/iQ5ztdjvteGeboxtmRdXEChJOHh.jpg');
  width: 350px;
  height: 500px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  flex-grow: 0;
  flex-shrink: 0;
}
