.search-page__background {
  background-image: url('/img/recOne.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 150vh;
}

.search-page__container {
  max-width: 1200px;
  margin: 0 auto;
}

.search-page__search-block {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 50px;
}

.search-page__search-block__button {
  padding: 10px 34px;
}

.search-page__search-block__button:hover {
  padding: 10px 34px;
}

.search-page__error-message {
  color: #c32d2a;
}

.search-page__search-results {
  margin-top: 50px;
  display: flex;
  justify-content: start;
  margin-top: 50px;
}

.search-page__search-results__film-list {
  margin-left: 40px;
}

.search-page__search-results__people-list {
  margin-left: 40px;
}
