.search-item-person__wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  gap: 20px;
  align-items: center;
}

.search-item-person__picture {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  flex-grow: 0;
  flex-shrink: 0;
}
