.navbar {
  width: 100%;
  z-index: 1;
}

.navbar__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  cursor: pointer;
  margin-right: 50px;
}

.navbar__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar__buttons-container__divider {
  color: var(--text-field-color);
}
