.mobileNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.mobileNav__logo {
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: calc(100% + 100px);
  z-index: 50;
  background: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  top: 0;
  left: 0;
  transition: 0.15s linear;
  opacity: 0;
  pointer-events: none;
}

.navPanel {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button {
  display: block;
  background-color: none;
  border: none;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-primary-color);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  color: var(--primary-main-color);
}

.switch {
  margin-top: 16px;
}

.popupPanel {
  width: 100%;
  max-width: 280px;
  padding: 8px;
  background: var(--default-color);
  z-index: 51;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transition: 0.15s linear;
  transform: translateX(100%);
}

.popupPanel.openMenu {
  transform: translateX(0);
}
.overlay.openMenu {
  pointer-events: all;
  opacity: 1;
}

.item {
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
  color: var(--text-primary-color);
}

.item:hover {
  color: var(--primary-main-color);
  border-bottom: 3px solid var(--primary-main-color);
}
