.navbar__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  color: var(--text-primary-color);
  text-decoration: none;
  border: none;
  background-color: none;
  padding: 10px 36px;
}

.navbar__link:hover {
  color: var(--secondary-main-color);
}

.capitalized {
  text-transform: uppercase;
}

.active {
  border: 2px solid var(--primary-main-color);
  background-color: var(--primary-main-color);
  color: var(--paper-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease, background-color 0.3s ease,
    color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50px;
}

.active:hover {
  color: var(--paper-color);
}
