.button {
  width: 100%;
  cursor: pointer;
  height: 40px;
}

.button:hover {
  background-color: var(--bg-secondary-color);
}

.button:focus {
  background-color: var(--bg-secondary-color);
}

.button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.button-number {
  border: 1px solid var(--text-primary-color);
  border-radius: 8px;
  padding: 2px;
  background-color: var(--paper-color);
}
