.details-page__message {
  max-width: 1200px;
  margin: 40px auto;
}

.details-page__background {
  position: relative;
  height: 80vh;
  width: 100%;
}

.details-page__background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  border-bottom-right-radius: 80% 30%;
  border-bottom-left-radius: 80% 30%;
  z-index: -1;
}

.details-page__content {
  padding-top: 40px;
}

.details-page__reviews-container {
  max-width: 1200px;
  margin: 0 auto 70px;
}
