.person-details__bg {
  background: url('/img/recTwo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.person-details {
  max-width: 1200px;
  margin: 0 auto 50px;
}

.person-details__message {
  max-width: 1200px;
  margin: 40px auto;
}
